html {
    scroll-behavior: smooth;
  }
.but-blue{
    background-color: #5A32EB;
    width: 150px;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    color: #fff;
}

.blue-bg{
    background-color: #5A32EB;
    color: #fff;
}

.but-white{
    background-color: #fff;
    width: 150px;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
}

.third{
    height: 450px;
    padding: 5em 0;
}

.footer{
    background-color: #00144A;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .img-dashboard{
        width: 100%;
    }
  }